* {
  font-size: 12px;
}

body {
  background-color: #cfd1d6;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #353b40;
  color: white;
}

.card-body {
  background-color: #424447;
}

hr {
  background-color: white;
}
