* {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

body {
  background-color: #cfd1d6;
}

.card {
  background-color: #353b40;
  color: white;
}

.card-body {
  background-color: #424447;
  color: white;
}

hr {
  background-color: white;
}

.jumbotron {
  background-color: #353b40;
  color: white;
}
