.stream-data-container {
  display: flex;
  align-items: center;
  background-color: #424447;
}

.stream-thumbnail {
  margin-right: 2rem;
}

#currentHero, #channelName {
  color: orange;
}

#notInGame {
  color: red;
}
