/*Avatar Section*/
.player-avatar {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 20px;
  width: 10rem;
}

.player-intro {
  background: no-repeat center center fixed;
  height: 15rem;
}

/*PlayerStats Section*/
.rank-img {
  width: 100px;
  margin-right: 20px;
}

.player-stats {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.player-stats-data {
  margin-bottom: 2rem;
}

.player-stats-header {
  display: flex;
  align-items: center;
}

/*Sub-Data Section*/
.sub-data {
  margin-bottom: 2rem;
}

.top-3-heroes {
  display: flex;
  justify-content: space-evenly;
}

/*Detailed Summary Section*/
.detailed-summary {
  line-height: 3rem;
}

/*Heroes Data Section*/
.heroes {
  display: flex;
  align-items: center;
}

.heroes-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portrait {
  width: 35px;
  height: 35px;
  margin-right: 20px;
  border-radius: 50%;
}

.table {
  color: white;
  background-color: #424447;
  text-align: center;
}

th {
  background-color: #00aca4;
}
