.compare-page-header {
  background-image: url("/images/misc/ow-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-top: 2rem;
  height: 45vh;
  padding: 8%;
}
