#nav {
  color: white;
}

#logo-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.loading {
  width: 80px;
}

.nav-pills {
  margin-left: 2rem;
}
