.compare-search {
  margin: 0.75rem 0 1rem 1rem;
}

.compare-search-container {
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: white;
  margin: -8rem 0 2rem 0;
}

.compare-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
