.streamer-hero-search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.streamer-search-container {
  background-image: url("/images/misc/ow-background.jpg");
  background-repeat: no-repeat;
  padding: 8%;
}

.role-icons {
  width: 10rem;
}
