.header {
  background-image: url("/images/tracer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-top: 2rem;
  height: 45vh;
  padding: 16%;
  opacity: 0.8;
}

.error-header {
  margin-top: 2rem;
}

hr {
  background-color: white;
}
