/*Avatar Section*/
.player-avatar {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 20px;
}

/*PlayerStats Section*/
.rank-img {
  width: 150px;
  margin-right: 20px;
}

.player-stats {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.player-stats-data {
  margin-bottom: 2rem;
}

.player-stats-header {
  display: flex;
  align-items: center;
}

/*Heroes Data Section*/
.heroes {
  display: flex;
  align-items: center;
}

.heroes-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portrait {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  border-radius: 50%;
}
