#search-box {
  width: 250%;
  text-align: center;
  margin-right: 20px;
  padding: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

select {
  margin-right: 20px;
}
