form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 25%;
}

#search-box {
  text-align: center;
  margin-right: 1rem;
  width: 20rem;
  height: 2.5rem;
}

select {
  margin-right: 1rem;
  border: 1px solid #353b40;
  background-color: #f99e1a;
  color: #353b40;
  padding: 5px 20px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  background-color: #cfd1d6;
  color: #353b40;
}
